<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TDFDow30.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <!--
    Store the log information using a rolling file appender with a rolling date.
    This section to be edited for application specific settings.
    -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="c:\Logs\DataMonitor_%date{yyyyMMdd}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <param name="PreserveLogFileNameExtension" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger:%message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
  <connectionStrings>
    <add name="TDFDow30.Properties.Settings.dbConn" connectionString="Data Source=FBN-SQL-PRI;Initial Catalog=TDF_Symbols_new;Persist Security Info=True;User ID=sa;Password=Engineer@1" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <TDFDow30.Properties.Settings>
      <setting name="TDF_IPAddress" serializeAs="String">
        <value>172.18.23.26</value>
      </setting>
      <setting name="TDF_Port" serializeAs="String">
        <value>11113</value>
      </setting>
      <setting name="TDF_UserName" serializeAs="String">
        <value>DFD03</value>
      </setting>
      <setting name="TDF_PW" serializeAs="String">
        <value>AAA</value>
      </setting>
      <setting name="Reset_Connection" serializeAs="String">
        <value>01:45:00</value>
      </setting>
      <setting name="dbTableName" serializeAs="String">
        <value>SP1500</value>
      </setting>
      <setting name="Dynamic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ZipperFilePath" serializeAs="String">
        <value>p:\</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="spUpdate" serializeAs="String">
        <value>sp_UpdateSymbolDataRussel3000</value>
      </setting>
      <setting name="updateZipperFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="updateChartData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chartTableName" serializeAs="String">
        <value>X20ChartData</value>
      </setting>
      <setting name="spUpdateChart" serializeAs="String">
        <value>sp_Insert_ChartData</value>
      </setting>
      <setting name="TDFServer_ID" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PrimaryServer" serializeAs="String">
        <value>FBN-SQL-PRI</value>
      </setting>
      <setting name="BackupServer" serializeAs="String">
        <value>FBN-SQL-BKUP</value>
      </setting>
      <setting name="SQLUserNamePri" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="SQLPWPri" serializeAs="String">
        <value>Engineer@1</value>
      </setting>
      <setting name="SQLUserNameBk" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="SQLPWBk" serializeAs="String">
        <value>Engineer@1</value>
      </setting>
      <setting name="UseBackupServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SymbolsDB" serializeAs="String">
        <value>TDF_Symbols_new</value>
      </setting>
      <setting name="MarketDataDB" serializeAs="String">
        <value>TDF_Symbols_new</value>
      </setting>
    </TDFDow30.Properties.Settings>
  </applicationSettings>
</configuration>